apiVersion: apps/v1
kind: Deployment
metadata:
  name: playground
  namespace: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: playground
  template:
    metadata:
      labels:
        app: playground
    spec:
      containers:
        - name: playground
          image: wil42/playground:v1
---
apiVersion: v1
kind: Service
metadata:
  name: servicev1
  namespace: dev
spec:
  ports:
    - port: 80
      protocol: TCP
      targetPort: 8888
  selector:
    app: playground